<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ConexionMongo</servlet-name>
        <servlet-class>ConexionMongo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertarBuzon</servlet-name>
        <servlet-class>insertarBuzon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertarCampana</servlet-name>
        <servlet-class>insertarCampana</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertarGrupo</servlet-name>
        <servlet-class>insertarGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertarMensaje</servlet-name>
        <servlet-class>insertarMensaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertarUsuario</servlet-name>
        <servlet-class>insertarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consultarParametro</servlet-name>
        <servlet-class>consultarParametro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consultarParametroDocumento</servlet-name>
        <servlet-class>consultarParametroDocumento</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConexionMongo</servlet-name>
        <url-pattern>/ConexionMongo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertarBuzon</servlet-name>
        <url-pattern>/insertarBuzon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertarCampana</servlet-name>
        <url-pattern>/insertarCampana</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertarGrupo</servlet-name>
        <url-pattern>/insertarGrupo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertarMensaje</servlet-name>
        <url-pattern>/insertarMensaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertarUsuario</servlet-name>
        <url-pattern>/insertarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultarParametro</servlet-name>
        <url-pattern>/consultarParametro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultarParametroDocumento</servlet-name>
        <url-pattern>/consultarParametroDocumento</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>
